h1, h2, h3, p, li, a {
    margin-bottom: .3em;
    text-align:center;
    /*max-width:50%;*/
}

h1, h2, h3 {color: rgb(15, 60, 150);}
p, li, a {color: rgb(15, 50, 100); 
    font-size: 16;}

h1 {font-size: 25;}
h2 {font-size: 20;}
h3 {font-size: 16;}

.logoTop {
    max-width: 10%;
    max-height: 13%;
}
header {
    text-align: center;
}